.sort-header {
    display: flex;
    justify-content: space-between;
    i {
        padding: 0 2px;
    }
}
.block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .group-btn{
        display: flex;
        gap: 10px;
        i{
            padding: 0px 2px;
        }
    }
}
  